.coming-soon-container {
    text-align: center;
    padding: 50px;
    background: linear-gradient(135deg, #f06, #a6f);
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .coming-soon-icon {
    width: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  }
  